<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>My Vue app with webpack 4</title>
  </head>
  <body>
    <div class="columns">
        <div class="column is-narrow">
            {{#with navigation}}
                {{> navigation}}
            {{/with}}
        </div>
        <div class="column">

            {{#with modelSelection}}
                {{> modelSelection}}
            {{/with}}

            <div class="tabs">
                <ul>
                    <li {{#if isViewTabActive}} class="is-active" {{/if}}><a href="{{currentUrl}}?activeTab=view">View</a></li>
                    <li {{#if isModelTabActive}} class="is-active" {{/if}}><a href="{{currentUrl}}?activeTab=model">Model</a></li>
                </ul>
            </div>
            <div class="tabs-content">
                <div {{#if isModelTabActive}} class="is-hidden" {{/if}}>
                    <div class="app">
                        {{#with component}}
                            {{view}}
                        {{/with}}
                    </div>
                </div>
                <div class="vmBox{{#if isViewTabActive}} is-hidden{{/if}}">
                    {{#if viewModel}}
                        {{{viewModel}}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://localhost:8080/main.js"></script>
  </body>
</html>



