<ul class="menu-part"> 
    {{#each children}}
        <li class="menu-element">
            <a href="{{url}}">{{title}}</a>
            {{#if plainUrl}}
                <a href="{{plainUrl}}">
                    <span class="icon is-small"><i class="fas fa-file"></i></span>
                </a>
            {{/if}}
            {{> navigationPart}}
        </li>
    {{/each}}
</ul>