<aside class="menu">
    <img class="menu-image" src="/assets/img/preview-logo.svg"/>
    {{#each this}}
        <p class="menu-label">{{title}}</p>
        {{> navigationPart}}
    {{/each}}
</aside>